.header__title{
    padding: 15px 0 5px 0;
    text-align: center;
    font-size: 12px;

    &__a{
        color: rgb(21, 137, 252);
    }
}


.IoIosArrowForward{
    display: flex;
    justify-content: end;
    align-items: center;
}

